---
layout: default
---
<div class="post-metadata">
    <h1 style="float: left;">{{ page.title }}</h1>
    <h2 style="float: right;">{{ page.date | date: "%Y-%m-%d" }}</h2>
</div> 
<div style="clear: both;"></div>


<div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
</div>

<div class="reading-time">
    time to read: {% include read_time.html %}
</div>

{{ content }}
